.header {
    margin: 25px 0 30px 0;
    background: var(--primary-bcg-color);
}

.header-container {
    margin: 0 auto 41px;
    display: flex;
    justify-content: space-between;
    width: 1060px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 249px;
}

.header-desc {
    position: relative;
    bottom: 7px;
}

.header-text {
    position: relative;
    left: 58px;
    bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.header-contact {
    display: flex;
    justify-content: space-between;
}

.header-delivery {
    display: none;
}

.header-phone {
    width: 144px;
}

.header-delivery__title {
    margin-bottom: 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: var(--primary-text-color);
}

.header-delivery__geo {
    margin-left: 9px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: rgba(249, 105, 0, 1);
}

.header-delivery__subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--primary-text-color);
}

.header-delivery__subtitle::after {
    position: absolute;
    content: url(../img/header/star-rate.svg);
    top: 2px;
    right: 74px;
}

.header-delivery__rate {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--primary-text-color);
}

.header-phone {
    padding-top: 2px;
}

.header-phone__number {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: 0.3s;
}

.header-phone__number:hover {
    color: rgba(249, 105, 0, 1);
    transition: 0.3s;
}

.header-phone__text {
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: rgba(153, 153, 153, 1);
}

.header-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1060px;
}

.header-menu__list {
    display: flex;
    justify-content: space-between;
    width: 467px;
    list-style-type: none;
}

.header-menu__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: 0.3s;
}

.header-menu__link:hover {
    color: rgba(249, 105, 0, 1);
    transition: 0.3s;
}

.header-menu__link:focus {
    color: rgb(228, 100, 8);
    transition: 0.3s;
}

.button {
    padding: 9px 20px;
    background: rgba(249, 105, 0, 1);
    border: 0;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: var(--secondary-text-color);
    transition: 0.3s;
}

.button:hover {
    background: rgb(231, 97, 0);
    transition: 0.3s;
}

.button:focus {
    background: rgb(204, 86, 2);
}

@media screen and (min-width: 992px) and (max-width: 1059px) {
    .header-container {
        width: 960px;
    }

    .header-menu {
        width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-container {
        width: 720px;
    }

    .header-menu {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    header {
        margin: 12px 0 21px 0;
    }

    .header-container {
        width: 540px;
    }

    .header-contact,
    .header-text,
    .header-menu  {
        display: none;
    }

    .header-desc {
        bottom: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {

    header {
        margin: 12px 0 21px 0;
    }

    .header-container {
        width: 100%;
    }

    .header-contact,
    .header-text,
    .header-menu  {
        display: none;
    }

    .header-logo {
        margin-left: 16px;
    }

    .header-desc {
        bottom: 0;
    }
}