.products {
    padding-bottom: 70px;
}

.product-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 60px 20px;
}

.product {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 15px);
}

.product__img {
    text-align: center;
}

.product__pic {
    vertical-align: top;
}

.product-title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.product__title {
    margin: 5px 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.product__subtitle {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.btn_secondary {
    background: rgba(255, 240, 230, 1);
    color: rgba(209, 87, 0, 1);
    transition: 0.3s;
}

.btn_secondary:hover {
    background: rgb(255, 227, 209);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .product-wraper {
        flex-direction: column;
        align-items: flex-start;
    }

    .product {
        flex-direction: row;
    }
}