.slider-box {
    overflow-x: hidden;
    overflow-y: visible;
  }
  
  .slider {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .slider__item {
    width: 100%;
    margin-right: 30px;
    flex-shrink: 0;
  }
  
  .slider__item_1,
  .slider__item_3 {
    opacity: 0.2;
  }
  
  .slider__img {
    box-shadow: 0px 5px 20px rgba(115, 121, 140, 0.15);
    border-radius: 20px;
    width: 1060px;
    height: 300px;
  }
  
  .slider__item:first-child {
    margin-left: calc(-100% - 30px);
  }