.snack {
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 1);

}

.snack-title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
}

.snack-wraper {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 20px;
}

.snack-card {
    display: flex;
    flex-direction: column;
}

.snack__img {
    text-align: center;
    transition: 0.3s ease-out;

}

.snack__img:hover {
    cursor: pointer;
    transform: translateY(2%);
    transition: 0.3s ease-out;
}

.snack__pic {
    vertical-align: top;
}

.snack-description {
    z-index: 1;
}

.snack-description__title {
    margin: 5px 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}

.snack-description__subtitle {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(115, 121, 140, 1);
}

.snack__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.snack__price {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .snack-wraper {
        grid-template-columns: 1fr 1fr;
        gap: 60px 20px;
    }

    .snack {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .snack {
        margin-bottom: 30px;
    }

    .snack-title {
        margin-bottom: 20px;
    }

    .snack-wraper {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .snack-card {
        display: grid;
        grid-template-columns: 42% 58%;
        grid-template-areas: 
            "image description"
            "image description"
            "image price";
        padding: 12px 10px 12px 0;
        border-bottom: 1px solid #f3f3f7;
    }

    .snack-card:nth-last-child(-n+3) {
        display: none;
    }

    .snack-card:nth-child(5) {
        border: 0;
    }

    .snack__img {
        grid-area: image;
        align-self: flex-start;
        margin-right: 7px;
        text-align: center;
    }

    .snack-description {
        grid-area: description;
    }

    .price_button {
        grid-area: price;
    }

    .snack__pic {
        width: 100%;
        height: auto;
    }

    .snack-description__title {
        margin: 0 0 4px 0;
        font-size: 18px;
        line-height: 20px;
    }

    .snack-description__subtitle {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
    }

    .snack__price {
        display: none;
    }

    .button {
        display: none;
    }

    .price_button {
        display: block;
    }
}