.footer-contacts{
    text-align: right;
    color: #ffffff;
}

.footer-contacts__number {
    margin-bottom: 6px;
    text-decoration:none;
    color:#fff;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
}

.footer-contacts__call{
    margin-bottom: 26px;
    font-size: 15px;
    line-height: 20px;
    opacity: 0.5;
    color:#fff;
}

.footer-contacts__mail{
    text-decoration:none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    opacity: 0.9;
    margin-top: 26px;

}

.footer-contacts__img{
    width: 155px;
}

.footer-contacts__img__container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 29px;
}

.footer-contacts__img__link {
    margin-left: 5px;
}