.footer-copy {
    padding: 46px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copy__logo {
    display: flex;
    justify-content: space-between;
}

.footer-copy__year {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(199, 200, 203, 1);
}

.footer-copy__info {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
}

.footer-copy__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
    color: rgba(199, 200, 203, 1);
    transition: 0.2s;
}

.footer-copy__text:nth-child(2) {
    margin: 0 20px;
}

.footer-copy__text:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.footer-copy__socialLinks {
    display: flex;
    align-items: center;
    margin-left: 95px;
    opacity: 0.7;
}

.footer-copy__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.footer-copy__social:nth-child(even) {
    margin: 0 6px;
}

.footer-copy__social img {
    padding: 3px 0 0 0;
}


@media (max-width: 1024px) {

    .footer-copy__container {
        width: 100%;
    }

    .footer-copy {
        flex-direction: column-reverse;
    }

    .footer-copy__socialLinks {
        margin-right: 100%;
        margin-left: auto;
    }

    .footer-copy__year {
        margin-left: 16px;
        padding-bottom: 2px;
    }

    .footer-copy__info {
       padding-top: 35px;
       flex-direction: column;
       margin-right: 100%;
       margin-left: auto;
       width: 100%;
    }

    .footer-copy__text:nth-child(2) {
        margin: 20px 0;
    }

    .footer-copy__logo {
        margin-right: 100%;
        margin-left: auto;
        padding-top: 35px;
        justify-content: flex-start;
        width: 100%;
    }
}

@media (max-width: 767px) {

    .footer-copy__container {
        width: 100%;
    }

    .footer-copy {
        padding: 20px 0;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .footer-copy__logo {
        margin: 0;
        padding-top: 0;
        justify-content: flex-start;
        width: 100%;
    }

    .footer-copy__socialLinks {
        margin: 0;
        padding: 0 0 20px 0;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .footer-copy__year {
        margin-left: 28px;
        padding-bottom: 2px;
    }

    .footer-copy__info {
        margin: 0;
        padding: 20px 0 30px 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .footer-copy__text {
        line-height: 28px;
    }

    .footer-copy__text:nth-child(2) {
        margin: 0;
    }

    .footer__info {
        display: none;
    }

    .footer-menu__box {
        flex-direction: column-reverse;
    }

    .footer-contacts__img__container,
    .footer-contacts__number,
    .footer-contacts__call {
        display: none;
    }

    .footer-menu {
        flex-direction: column;
        margin-top: 20px;
    }

    .footer-menu__description {
        width: 100%;
    }

    .footer-menu__description:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .footer-menu__description:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .footer-menu__description:nth-child(4) {
        margin-bottom: 20px;
    }

    .footer-menu__name {
        margin-bottom: 12px;
    }

    .footer-list__opt {
        line-height: 24px;
        font-size: 16px;
    }

    .footer-contacts__mail {
        display: block;
        margin-top: 0;
        padding-right: 100%;
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}